:root {
    --color-primary: #ed7f09;
    --color-white: #e9e9e9;
    --color-black:#141d28;
    --color-black-1:#212b38;
}

*{
    margin: 0;
    padding: 0;
    /* 标准盒子 */
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
    color:var(--color-white);
    font-size: 38px;
}

.logo  span {
    color:var(--color-primary)
}

.memu-bar {
background-color: var(--color-black);
height: 80px;
width: 100%;
/* 弹性布局效果 */
display: flex;
均匀分配每个元素首个元素放置于终点，末尾元素放置于终点
justify-content: space-between;
align-items: center;
padding: 0 5%;
/* 相对定位  */
position: relative;
}